<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/basic.xml" />

    <!-- 模仿springboot的输出格式 -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n" />
    <!-- 控制台日志输出配置 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 文件日志输出配置 -->
    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_FILE}</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <!--超过15个月的自动移除-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.tianyi.datacenter" level="debug" additivity="true">
        <appender-ref ref="fileLog" />
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleLog" />
    </root>
</configuration>